body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  margin: 5vh 8vw 5vh 8vw;
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
    margin: 5vh 2vh 5vh 2vh;

  }
}

/* SECCIÓN MENU */

.desktop-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-weight: 400;
  padding-bottom: 7vh;
  gap: 30px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 480px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: flex-end;
    color: #FCDA68;
    margin-top: -20px;
    margin: -15px 10px 10px auto;
  }
}

.desktop-menu a {
  text-decoration: none;
}

a:any-link {
  color: #222222
}

a:active {
  color: #8e7bef;
}

a:hover {
  color: #8e7bef;
}

/* SECCION HOME */

.section-home {
  display: grid;
  margin-bottom: 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1vw;
}

@media (max-width: 480px) {

  .section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.section-home h1 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (max-width: 480px) {

  .section-home h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}

.section-home h2 {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 0px;
  font-weight: 600;
  font-size: 25px;
  color: #423f40;
}

@media (max-width: 480px) {

  .section-home h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;

  }
}

.section-home p {
  grid-area: 3 / 1 / 4 / 2;
  font-weight: normal;
  font-size: 25px;
  color: #9e9d9d;
  max-width: 100vw;
}

#color {
  color: #8e7bef
}

@media (max-width: 480px) {
  .section-home p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: #9e9d9d;
  }
}

.icons-network img {
  grid-area: 4 / 1 / 5 / 3;
  background-color: #8e7bef;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  padding: 10px;
  margin: 10px;

}

@media (max-width: 480px) {

  .icons-network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
  }

  .icons-network img {
    background-color: #8e7bef;
    max-width: 24px;
    max-height: 24px;
    border-radius: 100%;
    padding: 5px;
  }
}

.personal-image {
  background-size: cover;
  grid-area: 1 / 2 / 6 / 3;
  margin-left: 70px;
}

@media (max-width: 480px) {

  .personal-image {
    display: inline-flex;
    background-size: cover;
    max-width: 200px;
    margin: auto auto 30px auto;
  }

}

.bottom-mail {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #8e7bef;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  color: white;
  font-size: 16px;
  gap: 15px;
}



@media (max-width: 480px) {

  .bottom-mail {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #8e7bef;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: auto;
  }
}

/* SECCIÓN EXPERIENCIAS Y HABILIDADES */

.background-section {

  background-color: #FCDA68;
  padding: 610px auto auto auto;
  margin-left: -8vw;
  margin-right: -8vw;
}

@media (max-width: 480px) {
  .background-section {
    padding: auto;
    margin-left: -5vw;
    margin-right: -5vw;
  }
}

.section-exp-skills {

  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: (2, 1fr);
  row-gap: 0px;
  margin-left: 8vw;
  margin-right: 8vw;
  padding: 20px 0px 20px 0px;
}

@media (max-width: 480px) {
  .section-exp-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px 0px 20px 0px;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}


.section-exp-skills h1 {
  grid-area: 1 / 1 / 2 / 2;
}

@media (max-width: 480px) {
  .section-exp-skills h1 {
    font-weight: 600;
    font-size: 28px;
    text-align: start;
  }
}

.section-exp-skills>p {
  color: #423f40;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .section-exp-skills>p {
    color: #423f40;
    text-align: start;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .section-exp-skills h3 {
    text-align: start;
  }
}

.icons-skills {
  grid-area: 4 / 1 / 5 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: auto;
  text-align: center;
  align-content: center;
  font-size: 14px;
}

.icons-skills img {
  height: 60px;
  width: 60px;
}

.icons-skills p {
  margin-top: 0px;
}

@media (max-width: 480px) {
  .icons-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
  }

  .icons-skills img {
    max-height: 55px;
    max-width: 55px;
  }
}

.grid-experience {
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: min-content;
}

.years {
  font-size: 16px;
  color: #423F40;
  margin-left: 0;

}

.year1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.year2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.year3 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.line1 {
  grid-row: 3 / 3;
  grid-column: 1 / 3;
  background-color: #423F40;
  height: 1px;
}

.line2 {
  grid-row: 4 / 4;
  grid-column: 1 / 3;
  background-color: #423F40;
  height: 1px;
}

.exp1 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: auto;
  margin-left: 10px;
  font-size: 16px;
}

.exp2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin: auto;
  margin-left: 10px;
  font-size: 16px;
}

.exp3 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  margin-left: 0;
  margin: auto;
  margin-left: 10px;
  font-size: 16px;
}

/* SECCIÓN PORTAFOLIO */


@media (max-width: 480px) {

  #portafolio h1 {
    font-weight: 600;
    font-size: 28px;
    text-align: start;
  }
}

.cards p {
  color: #8e7bef;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-left: 5px;
}

.cards-portfolio {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 10vh;
}

@media (max-width:480px) {
  .cards-portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.cards img {
  margin-left: -15px;
  width: 390px;
}

.cards:first-child img {
  margin-top: 13px;
  margin-right: 5px;
  margin-left: 5px;
  height: 260px;
}

@media (max-width: 480px) {
  .cards img {
    margin: auto 0px auto -5px;
    width: 390px;
    align-self: center;
  }

  .cards:first-child img {
    margin: 10px 0px 20px 10px;
    width: 350px;
  }
}


footer h1 {
  color: #423F40;
  margin-bottom: 10vh;
}

@media (max-width: 480px) {
  footer {
    margin: auto;
  }

  footer h1 {
    color: #423F40;
    margin-bottom: 10vh;
    text-align: center;
    font-size: 28px;
  }
}

.datos-contacto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 80px;
  margin-left: 20vw;
  max-width: 40vw;

}

@media (max-width: 480px) {
  .datos-contacto {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    gap: 10px;
  }
}

.datos-contacto img {
  border-radius: 30%;
  background-color: #f9f5f2;
  width: 60px;
  height: 60px;
  padding: 30px;
  margin: auto 20px auto 20px;
}

@media (max-width: 480px) {
  .datos-contacto img {
    border-radius: 100%;
    background-color: #f9f5f2;
    width: 40px;
    height: 40px;
    padding: 25px;
    margin: auto 20px auto 20px;
  }
}

.align-contacto {

  justify-items: center;
  align-items: center;
  text-align: center;
  color: #9e9d9d;
  font-size: 14px;
  margin: auto;
}

.align-contacto p strong {
  color: #222222;
}

.align-contacto p {
  margin-bottom: 30px;
}

@media (max-width: 480px) {

  .align-contacto p {
    margin-bottom: -5px;
  }
}

.academlo-foot {
  text-align: center;
  color: #8e7bef;
  font-size: 18px;
  margin-top: 70px;
}